:root {
    --color-white: #FFFFFF;
    --color-white-light: #F6F6F6;
    --color-black: #000000;
    --color-black-light: #23272A;

    --font-title: 400 3.5rem "Luckiest Guy";
    --font-subtitle: 800 2.5rem "Open Sans";
    --font-text: 400 1rem "Open Sans";

    --margin-sections: calc(15500vw / 1280);
    --margin-section-special: calc(24800vw / 1280);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font: 400 16px 'Open Sans';
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
}

body {
    height: 100vh;
    position: relative;
}

.header {
    width: 100%;
    position: relative;
}

.content-header {
    margin: auto;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 94px 0;
    gap: 24px;
    color: var(--color-white);
}

.title-header {
    font: var(--font-title);
    font-size: 3.5rem;
}

.text-header {
    width: 100%;
    font: var(--font-text);
}

.container-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 1rem;
}

.btn {
    padding: 11px 24px;
    border-radius: 28px;
    color: var(--color-black, #000);
    background-color: var(--color-white, #FFF);
    border: none;
    transition: filter 200ms linear;
}

.btn.dark {
    color: var(--color-white, #FFF);
    background-color: var(--color-black-light, #23272A);
}

.btn:hover {
    filter: brightness(80%);
}

.background-header {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(./public/images/header-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

    top: 0;
    left: 0;
    z-index: -1;
}

.container-sections {
    margin: 0 var(--margin-sections, 12vw);
}

.sections {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 16px;
    margin: 160px 0;
}

.sections:nth-child(2) .section-text-container * {
    margin: 0 auto;
}


.container-img-section {
    flex: 65%;
    text-align: center;
}

.section-text-container {
    align-self: flex-start;
    flex: 35%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title-section {
    width: 65%;
    font: var(--font-subtitle);
    color: var(--color-black-light);
}

.text-section {
    width: 70%;
    font: var(--font-text);
}

.section-special {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin: 0 calc(var(--margin-section-special) - var(--margin-sections));
    text-align: center;
}

.title-section-special {
    width: 50%;
    font: var(--font-title);
    font-size: 2.5rem;
    color: var(--color-black-light);
}

.text-section-special {
    width: 80%;
    font: var(--font-text);
    color: var(--color-black-light);
}

.section-special img {
    width: 90%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 36px 0;
    background-color: var(--color-black-light);
}